:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Styles for the header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}

/* Title styles */
.title {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Link and button styles */
.buttons {
    display: flex;
    gap: 1rem;
}

.button {
    padding: 0.5rem 1rem;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
}

.button:hover {
    background-color: #666;
}

.active {
    background-color: #007bff;
    color: white;
}

.section {
    min-height: 100vh;
    max-width: 50%;
    margin: auto;
    padding: 20px;
}

.home-section {
    border: 1px solid #fff;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
}

.heading {
    font-size: 40px;
}

.formDiv {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-top: 20px;
    overflow: hidden;
}

.input {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    font-size: 16px;
}

.label {
    font-size: 16px;
}

.cta {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: end;
}
button {
    padding: 12px 45px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}
